body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

h2 {
    text-align: center;
    color: #333;
}

div {
    margin-bottom: 15px;
    text-align: center;
}

input, button {
    margin: 5px;
    padding: 8px;
    font-size: 14px;
}

#status {
    margin-top: 10px;
    font-weight: bold;
    color: green;
}

#map {
    border: 2px solid #ccc;
    border-radius: 5px;
}
.radio-label {
    margin: 0 10px;
    font-weight: normal;
    font-size: 14px;
}

.radio-label input[type="radio"] {
    margin-right: 5px;
    transform: scale(1.2);
}
